# Copyright (c) 2020 Pete Johanson, Jay Greco
# SPDX-License-Identifier: MIT

if SHIELD_NIBBLE

config ZMK_KEYBOARD_NAME
	default "NIBBLE_BLE"

config ZMK_USB
	default y

config ZMK_KSCAN_DEMUX_POLLING
    default y

endif

